@mixin ellipsis-multi($n: 1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;
}

#immutable-helper {
  position: relative;
  width: 320px;
  height: 568px;
  overflow: hidden;
  border: 1px solid #666;
  box-sizing: border-box;
  background: #fff;

  .spin {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    display: flex;
  }

  .spin-text {
    color: #fff;
    flex: 1;
    text-align: center;
    align-self: center;
  }

  .header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #CD235C;
    color: #eee;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px;
  }

  .sub-header {
    position: absolute;
    z-index: 2;
    top: 45px;
    left: 0;
    width: 100%;
  }

  .wrapper {
    position: absolute;
    z-index: 1;
    top: 115px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  .scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
  }

  .search-form {
    display: flex;
    align-items: center;
    height: 100%;

    input {
      flex: 1;
      height: 100%;
      background-color: #fff;
      outline: none;
      border: 1px solid #ddd;
      color: #666;
      padding: 0 8px;
    }
    button {
      width: 50px;
      color: #666;
      height: 100%;
      margin-left: 4px;
      background: #fff;
      border: none;
      outline: none;
    }
  }
  .LoadMore {
    text-align: center;
    line-height: 30px;
  }

  .filter {
    height: 40px;
    border-bottom: 1px solid #ddd;
  }

  .query-time {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
  }

  .book-item {
    position: relative;
    height: 120px;
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    background: #fff;

    .l {
      width: 80px;
      margin-right: 10px;
      position: relative;
    }
    .r {
      flex: 1;
    }
  }

  .book-thumbnail {
    display: block;
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  .book-title {
    @include ellipsis-multi(1);
    font-size: 16px;
    font-weight: normal;
  }

  .empty {
    text-align: center;
  }

  .subTitle {
    @include ellipsis-multi(2);
    color: #666;
  }
}

